#divVersion {
    width: 100%;
    text-align: center;
    background-color: rgb(2, 1, 20);
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: white;
}

#tblSettings {
    width: 95%;
    background-color: rgb(134, 124, 110);
    border: 1px solid black;
    border-radius: 12px;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    color: white;
}

.CalculationText td {
    font-size: 140px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #000000;
    width: 100%;
}

input[type=checkbox] {
    width: 20px;
    height: 20px;
}

input[type=text] {
    height: 25px;
    width: 75px;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    outline: 0;
    border-color: black;
}

#txtResult {
    height: 250px;
    width: 450px;
    text-align: center;
    color: black;
    font-size: 140px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    outline: 0;
    border-width: 0 0 5px;
    border-color: black;
}

input[type=button],
input[type=submit],
input[type=reset] {
    background-color: #696969;
    border: none;
    color: white;
    height: 75px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    cursor: pointer;
    border-radius: 12px;
    box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
    cursor: pointer;
    outline: none;
    transition: 0.2s all;
}

input[type=button],
input[type=submit],
input[type=reset] :active {
    transform: scale(0.98);
    /* Scaling button to 0.98 to its original size */
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    /* Lowering the shadow */
}

#btnNeg {
    background-color: #708090;
    font-size: 25px;
}

#btnX {
    background-color: #696969;
    border: none;
    color: white;
    height: 75px;
    width: 150px;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    display: inline-block;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    cursor: pointer;
    border-radius: 12px;
    background-color: #FA8072;
    font-size: 25px;
}

#btnClear {
    background-color: #f44336;
    height: 75px;
    width: 250px;
    font-size: 25px;
    color: white;
}

#btnSubmit {
    background-color: #20B2AA;
    height: 75px;
    width: 250px;
    font-size: 25px;
    color: white;
}

#btnSubmitSettings {
    background-color: #20B2AA;
    height: 50px;
    width: 200px;
    font-size: 25px;
    color: white;
    font-weight: normal;
}
