<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/styles.css">
    <title>Nihas Home Work - Mathematics </title>

    <audio id="audioGreatJob">
        <source src="../../media/audio/GreatJob.m4a" type="audio/mp4">
        Your browser does not support the audio element.
    </audio>

    <audio id="audioTryAgain">
        <source src="../../media/audio/TryAgain.m4a" type="audio/mp4">
        Your browser does not support the audio element.
    </audio>

    <audio id="audioCompletedHW">
        <source src="../../media/audio/CompletedHW.m4a" type="audio/mp4">
        Your browser does not support the audio element.
    </audio>

    <script type="text/javascript" src="../controller/main.js"></script>
    <script type="text/javascript" src="../controller/randomizer.js"></script>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<body onload="fnSetFields(null);">
    <center><label
            style="width: 100%; font-size: small; font-family: Verdana, Geneva, Tahoma, sans-serif;">NihasHomeWork
            v1.3.2 &copy;https://github.com/sgavvalapally/NihasHomeWork</label></center>
    <div id="divHidden" style="display:none;">
        <label id="lblQlimit">0</label>>
        <label id="lblIsFirstTimeLoaded">False</label>
        <label id="lblTotalQuestions">0</label>
        <label id="lblAnsweredCorrectly">0</label>
        <label id="lblAS">0</label>
        <label id="lblAM">0</label>
        <label id="lblAC">0</label>
        <label id="lblAT">0</label>
        <label id="lblSS">0</label>
        <label id="lblSM">0</label>
        <label id="lblSC">0</label>
        <label id="lblST">0</label>
        <label id="lblMS">0</label>
        <label id="lblMM">0</label>
        <label id="lblMC">0</label>
        <label id="lblMT">0</label>
    </div>
    <div id="divMsgWelcome" class="w3-panel w3-green" style="width: 100%; text-align: center ;padding:0px;">
    </div>
    <div id="divSettings" style="width: 100%;">
        <br><br>
        <table id="tblSettings" align="center">
            <tr style="height: 50px;">
                <td>
                    <input type="checkbox" id="chkAdditions" name="chkAdditions" value="Additions">
                    <label for="chkAdditions"> Additions </label>
                </td>
                <td>
                    <input type="checkbox" id="chkAS" name="chkAddLvl" value="Simple"
                        onclick="fnOnComplexitySelection()">
                    <label for="chkAS">Simple</label>
                    <input type="text" id="txtAS" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </td>
                <td>
                    <input type="checkbox" id="chkAM" name="chkAddLvl" value="Medium"
                        onclick="fnOnComplexitySelection()">
                    <label for="chkAM">Medium</label>
                    <input type="text" id="txtAM" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </td>
                <td>
                    <input type="checkbox" id="chkAC" name="chkAddLvl" value="Complex"
                        onclick="fnOnComplexitySelection()">
                    <label for="chkAC">Complex</label>
                    <input type="text" id="txtAC" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </td>
                <td>
                    <input type="checkbox" id="chkAT" name="chkAddLvl" value="Tough"
                        onclick="fnOnComplexitySelection()">
                    <label for="chkAT">Tough</label>
                    <input type="text" id="txtAT" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </td>
            </tr>
            <tr style="height: 50px;">
                <td>
                    <input type="checkbox" id="chkSubtractions" name="chkSubtractions" value="Subtractions">
                    <label for="chkSubtractions"> Subtractions </label>
                </td>
                <td>
                    <input type="checkbox" id="chkSS" name="chkSubtractLvl" value="Simple"
                        onclick="fnOnComplexitySelection()">
                    <label for="chkSS">Simple</label>
                    <input type="text" id="txtSS" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </td>
                <td>
                    <input type="checkbox" id="chkSM" name="chkSubtractLvl" value="Medium"
                        onclick="fnOnComplexitySelection()">
                    <label for="chkSM">Medium</label>
                    <input type="text" id="txtSM" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </td>
                <td>
                    <input type="checkbox" id="chkSC" name="chkSubtractLvl" value="Complex"
                        onclick="fnOnComplexitySelection()">
                    <label for="chkSC">Complex</label>
                    <input type="text" id="txtSC" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </td>
                <td>
                    <input type="checkbox" id="chkST" name="chkSubtractLvl" value="Tough"
                        onclick="fnOnComplexitySelection()">
                    <label for="chkST">Tough</label>
                    <input type="text" id="txtST" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </td>
            </tr>
            <tr style="height: 50px;">
                <td>
                    <input type="checkbox" id="chkMultiplications" name="chkMultiplications" value="Multiplications">
                    <label for="chkMultiplications"> Multiplications </label>
                </td>
                <td>
                    <input type="checkbox" id="chkMS" name="chkMultiLvl" value="Simple"
                        onclick="fnOnComplexitySelection()">
                    <label for="chkMS">Simple</label>
                    <input type="text" id="txtMS" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </td>
                <td>
                    <input type="checkbox" id="chkMM" name="chkMultiLvl" value="Medium"
                        onclick="fnOnComplexitySelection()">
                    <label for="chkMM">Medium</label>
                    <input type="text" id="txtMM" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </td>
                <td>
                    <input type="checkbox" id="chkMC" name="chkMultiLvl" value="Complex"
                        onclick="fnOnComplexitySelection()">
                    <label for="chkMC">Complex</label>
                    <input type="text" id="txtMC" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </td>
                <td>
                    <input type="checkbox" id="chkMT" name="chkMultiLvl" value="Tough"
                        onclick="fnOnComplexitySelection()">
                    <label for="chkMT">Tough</label>
                    <input type="text" id="txtMT" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
                </td>
            </tr>
        </table>
        <div style="width: 100%; text-align: center;">
            <br><br>
            <input id="btnSubmitSettings" type="submit" value="Submit" onclick="fnSubmitSettings(this.id)">
        </div>
    </div>

    <div id="divValidationBanner">
        <div class="w3-panel w3-green" style="text-align: center;" id="divMsgCorrect">
            <table style="width: 100%;">
                <tr>
                    <td style="align-items: left; width: 80%;">
                        <h1><label id="lblMsgCorrect"> Great Job Nihas ! Try this now</label></h1>
                    </td>
                    <td style="align-items: right; width: 20%;" id="tdScoreCorrect">
                    </td>
                </tr>
            </table>
        </div>
        <div class="w3-panel w3-red" style="text-align: center ;" id="divMsgIncorrect">
            <table style="width: 100%;">
                <tr>
                    <td style="align-items: left; width: 80%;">
                        <h1>Oh no ! Please try again Nihas</h1>
                    </td>
                    <td style="align-items: right; width: 20%;" id="tdScoreIncorrect">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div id="divCalculationFields" class="CalculationText">
        <table style="width: 100%; text-align: center;">
            <tr>
                <td id="fieldA" style="width: 30%;"></td>
                <td id="tdOperation" style="width: 5%;"><label id="lblOperator"></label></td>
                <td id="fieldB" style="width: 30%;"></td>
                <td style="width: 5%;">=</td>
                <td id="tdResult" style="width: 30%;">
                    <input type="text" id="txtResult" readonly>
                </td>
            </tr>
        </table>
    </div>

    <div id="divKeyPad" style="margin:0 auto; width: 100%;" align="center">
        <br>
        <table>
            <tr>
                <td><input id="btn1" type="submit" value="1" onclick="fnKeyPadClick(this.id)"></td>
                <td><input id="btn2" type="submit" value="2" onclick="fnKeyPadClick(this.id)"></td>
                <td><input id="btn3" type="submit" value="3" onclick="fnKeyPadClick(this.id)"></td>
                <td><input id="btn4" type="submit" value="4" onclick="fnKeyPadClick(this.id)"></td>
                <td><input id="btn5" type="submit" value="5" onclick="fnKeyPadClick(this.id)"></td>
                <td>
                    <button id="btnX" type="button" onclick="fnKeyPadClick(this.id)"><i class="material-icons"
                            style="font-size:36px">backspace</i></button>
                </td>
                <td><input id="btnClear" type="submit" value="Clear" onclick="fnKeyPadClick(this.id)"></td>
            </tr>
            <tr>
                <td><input id="btn6" type="submit" value="6" onclick="fnKeyPadClick(this.id)"></td>
                <td><input id="btn7" type="submit" value="7" onclick="fnKeyPadClick(this.id)"></td>
                <td><input id="btn8" type="submit" value="8" onclick="fnKeyPadClick(this.id)"></td>
                <td><input id="btn9" type="submit" value="9" onclick="fnKeyPadClick(this.id)"></td>
                <td><input id="btn0" type="submit" value="0" onclick="fnKeyPadClick(this.id)"></td>
                <td><input id="btnNeg" type="submit" value="(-)" onclick="fnKeyPadClick(this.id)"></td>
                <td><input id="btnSubmit" type="submit" value="Submit" onclick="fnValidateResult(this.id)"></td>
            </tr>
        </table>
    </div>
</body>

</html>
